@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(45deg, #215BA6, #23A5D9, #BF0404);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.principal {
    height: 100vh;
    width: 100%;
    margin: 0;
}
/* Reset de estilos padrão do navegador para o menu */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilização do menu */
header {
    background-color: #3333332d;
    backdrop-filter: blur(20px);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 4px #1f1f1f;
}

/* Estilo de hiperlink no menu */
nav a:hover {
    color: #BF0404;
    text-shadow: 2px 2px 2px #215BA6;
}

.galeria {
    font-size: 40px;
}

.corpo {
    background-color: #bf040400;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    width: 900px;
    height: 2000px;
    margin: auto;
    margin-top: 10%;
}
.corpo p {
    font-size: 1.5vw;
    margin: 0.8vw;
    text-align: justify;
}

.img1 img {
    display: block;
    margin: auto;
    width: 30vw;
}
.img1 img:hover {
    width: 40vw;
    box-shadow: 15px 15px 15px black;
}

.img2 img {
    display: block;
    margin: auto;
    width: 30vw;
}
.img2 img:hover {
    width: 45vw;
    box-shadow: 15px 15px 15px black;
}
.img3 img {
    display: block;
    margin: auto;
    width: 30vw;
}
.img3 img:hover {
    width: 45vw;
    box-shadow: 15px 15px 15px black;
}
.img4 img {
    display: block;
    margin: auto;
    width: 30vw;
}
.img4 img:hover {
    width: 45vw;
    box-shadow: 15px 15px 15px black;
}
.img5 img {
    display: block;
    margin: auto;
    width: 30vw;
}
.img5 img:hover {
    width: 45vw;
    box-shadow: 15px 15px 15px black;
}
.img6 img {
    display: block;
    margin: auto;
    width: 30vw;
}
.img6 img:hover {
    width: 45vw;
    box-shadow: 15px 15px 15px black;
}
.img7 img {
    display: block;
    margin: auto;
    width: 30vw;
}
.img7 img:hover {
    width: 45vw;
    box-shadow: 15px 15px 15px black;
}
.git img {
    width: 5vw;
    display: block;
    margin: auto;
}
.git img:hover {
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
}