@charset "UTF-8";
@import 'variaveis.css';

body {
    background-color: var(--cor2);
}

main {
    background-color: var(--cor_transparente);
    width: 1000px;
    height: 1100px;
    margin: auto;
}

header {
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 4px 4px 4px var(--cor5);

}

@media (width <= 750px) {

}